<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="flutterqrcode.lizaihao.qr_code_flutter_plugin">

    <uses-permission android:name="android.permission-group.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.Manifest.permission.VIBRATE"/>
    <application>
        <activity
            android:name=".activity.CustomCaptureActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@style/XQRCodeTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="flutterqrcode.lizaihao.qr_code_flutter_plugin.view.CaptureActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait"
            android:theme="@style/XQRCodeTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="flutterqrcode.lizaihao.qr_code_flutter_plugin.view.captureactivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
